.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  background: #444238;
}

.header-text {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  text-align: center;
}

.header-subtext {
  color: white;
  font-size: 22px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.header-image {
  background: #F7D85F;
  background-image: url("/images/head_bg.jpg");
  background-position: center top;
  background-repeat: repeat-x;
  height: 60px;
}

.banner {
  background: #F7D85F;
  min-height: 20px;
}

.banner-text {
  color: #444238;
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  text-align: center;
}

.banner-image {
  background: #F75F5F;
  background-image: url("/images/banner_bg.png");
  background-position: center top;
  background-repeat: repeat-x;
  height: 60px;
}

.content {
  background: #F75F5F;
  color: white;
  min-height: 400px;
  padding: 20px 80px 20px 80px;
}

.content-image {
  background: #444238;
  background-image: url("/images/footer_bg.jpg");
  background-position: center top;
  background-repeat: repeat-x;
  height: 60px;
}

.footer {
  background: #444238;
  color: white;
  min-height: 100px;
  padding: 20px 80px 60px 80px;
}

.footer-text {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0 30px 0;
  text-align: left;
}

.footer-subtext {
  color: white;
  font-size: 22px;
  margin: 20px 0 20px 10px;
  text-align: left;
}
