@inject IDrinkRepository Repository
@inject NavigationManager NavigationManager


<p class="preview-title">Unsere Cocktails</p>

<div class="item-container">
    @if (mItems != null) {
        @foreach (var item in mItems) {
            <div class="item" @onclick="() => _HandleClicked(item)">
                <img class="item-image item-clickable" src="@(Utils.GetLowResDrinkImagePath(item.Image))"/>
                <p class="item-title">@item.Name</p>
                <p class="item-subtitle">@item.Teaser</p>
            </div>
        }
    }
</div>

<a href="@Urls.Cocktails" class="btn btn-dark" style="margin: 20px 0 40px 0">Alle Cocktails</a>


@code {

    IEnumerable<Drink> mItems;

    protected override async Task OnInitializedAsync() {
        mItems = Utils.CreateEmptyDrinks();
        await Task.Delay(50);
        var id = new BarId(Guid.Empty);
        mItems = ( await Repository.GetAllAsync(id) ).TakeRandom(4);
    }

    void _HandleClicked(Drink item) {
        NavigationManager.NavigateTo($"/cocktail/{item.Key}");
    }

}