@page "/cocktails"

<PageLayout BannerText="Cocktails"
            BannerVisible="true"
            HeaderVisible="false">

    <ChildContent>
        <p class="item-page-title">Unsere Cocktails</p>

        <p class="item-page-subtitle">Mit frischen Säften und edlen Spirituosen gemixt.</p>

        <div class="item-container">
            @foreach (var item in mItems)
            {
                <Card ClickAction="@(() => _HandleClicked(item))"
                      Image="@(Urls.GetLowResDrinkImage(item.Image))"
                      SubTitle="@item.Teaser"
                      Title="@item.Name">
                </Card>
            }
        </div>
    </ChildContent>

    <FooterContent>
        <Navigation/>
    </FooterContent>

</PageLayout>
