@page "/cocktails"
@inject IDrinkRepository Repository
@inject NavigationManager NavigationManager


<PageLayout BannerText="Cocktails"
            BannerVisible="true"
            HeaderVisible="false">

    <ChildContent>
        <p class="item-page-title">Unsere Cocktails</p>

        <p class="item-page-subtitle">Mit frischen Säften und edlen Spirituosen gemixt.</p>

        <div class="item-container">
            @if (mItems != null) {
                @foreach (var item in mItems) {
                    <div class="item " @
                         onclick="() => _HandleClicked(item)">
                        <img class="item-clickable item-image"
                             src="@(Utils.GetLowResDrinkImagePath(item.Image))"/>
                        <p class="item-title">@item.Name</p>
                        <p class="item-subtitle">@item.Teaser</p>
                    </div>
                }
            }
        </div>
    </ChildContent>

    <FooterContent>
        <Navigation/>
    </FooterContent>

</PageLayout>


@code {

    IEnumerable<Drink> mItems;

    protected override async Task OnInitializedAsync() {
        mItems = Utils.CreateEmptyDrinks();
        await Task.Delay(50);
        var id = new BarId(Guid.Empty);
        mItems = await Repository.GetAllAsync(id);
        mItems = mItems.OrderBy(x => x.Name);
    }

    void _HandleClicked(Drink item) {
        NavigationManager.NavigateTo($"/cocktail/{item.Key}");
    }

}
