@page "/gins"

<PageLayout BannerText="Gin"
            BannerVisible="true"
            HeaderVisible="false">

    <ChildContent>
        <p class="item-page-title">Unser Gin Sortiment</p>

        <p class="item-page-subtitle">Pur, On the Rocks oder mit Premium Tonic Water.</p>

        <div class="item-container">
            @foreach (var item in mItems)
            {
                <Card ClickAction="@(() => _HandleClicked(item))"
                      Image="@(Urls.GetLowResGinImage(item.Image))"
                      SubTitle="@item.Teaser"
                      Title="@item.Name">
                </Card>
            }
        </div>
    </ChildContent>

    <FooterContent>
        <Navigation/>
    </FooterContent>

</PageLayout>
