@page "/gins"
@inject IGinRepository Repository

<PageLayout HeaderVisible="false" BannerVisible="true" BannerText="Gin">

    <p class="item-page-title">Unser Gin Sortiment</p>

    <p class="item-page-subtitle">Pur, On the Rocks oder mit Premium Tonic Water.</p>

    <div class="item-container">
        @if (mItems != null) {
            @foreach (var item in mItems) {
                <div class="item">
                    <img class="item-image" src="@(Utils.GetLowResGinImagePath(item.Image))"/>
                    <p class="item-title">@item.Name</p>
                    <p class="item-subtitle">@item.Teaser</p>
                </div>
            }
        }
    </div>

</PageLayout>


@code {

    IEnumerable<Gin> mItems;

    protected override async Task OnInitializedAsync() {
        mItems = await Repository.GetAllAsync();
    }

}