<h1 class="footer-text">Navigation</h1>

<ul class="footer-navlist">
    <li>
        <a href="/" class="footer-subtext-link">Startseite</a>
    </li>
    <li>
        <a href="@Urls.Cocktails" class="footer-subtext-link">Cocktails</a>
    </li>
    <li>
        <a href="@Urls.Gins" class="footer-subtext-link">Gins</a>
    </li>
    <li>
        <a href="@Urls.Rums"class="footer-subtext-link">Rums</a>
    </li>
</ul>