<h1 class="footer-text">Navigation</h1>
<a href="/">
    <h2 class="footer-subtext">&#x2023; Startseite</h2>
</a>
<a href="@Urls.Cocktails">
    <h2 class="footer-subtext">&#x2023; Cocktails</h2>
</a>
<a href="@Urls.Gins">
    <h2 class="footer-subtext">&#x2023; Gins</h2>
</a>
<a href="@Urls.Rums">
    <h2 class="footer-subtext">&#x2023; Rums</h2>
</a>