<h1 class="footer-text">Navigation</h1>

<ul class="footer-navlist">
    <li>
        <a class="footer-subtext-link"
           href="/">
            Startseite
        </a>
    </li>
    <li>
        <a class="footer-subtext-link"
           href="@Urls.Cocktails">
            Cocktails
        </a>
    </li>
    <li>
        <a class="footer-subtext-link"
           href="@Urls.Gins">
            Gins
        </a>
    </li>
    <li>
        <a class="footer-subtext-link"href="@Urls.Rums">Rums</a>
    </li>
</ul>
