@page "/rums"

<PageLayout BannerText="Rum"
            BannerVisible="true"
            HeaderVisible="false">

    <ChildContent>
        <p class="item-page-title">Unser Rum Sortiment</p>

        <p class="item-page-subtitle">Rum oder Rhum. Hauptsache genießen.</p>

        <div class="item-container">
            @foreach (var item in mItems) {
                <Card ClickAction="@(() => _HandleClicked(item))"
                      Image="@(Urls.GetLowResRumImage(item.Image))"
                      SubTitle="@item.Teaser"
                      Title="@item.Name">
                </Card>
            }
        </div>
    </ChildContent>

    <FooterContent>
        <Navigation />
    </FooterContent>

</PageLayout>
