@page "/rum"
@inject IRumRepository Repository

<PageLayout HeaderVisible="false" BannerVisible="true" BannerText="Rum">

    <p class="item-page-title">Unser Rum Sortiment</p>

    <p class="item-page-subtitle">Rum oder Rhum. Hauptsache genießen.</p>

    <div class="item-container">
        @if (mItems != null) {
            @foreach (var item in mItems) {
                <div class="item">
                    <img class="item-image" src="@(Utils.GetLowResRumImagePath(item.Image))"/>
                    <p class="item-title">@item.Name</p>
                    <p class="item-subtitle">@item.Teaser</p>
                </div>
            }
        }
    </div>

</PageLayout>


@code {

    IEnumerable<Rum> mItems;

    protected override async Task OnInitializedAsync() {
        mItems = await Repository.GetAllAsync();
    }

}