@inject IRumRepository Repository

<p class="preview-title">Unsere Rums</p>

<div class="item-container">
    @if (mItems != null) {
        @foreach (var item in mItems) {
            <div class="item">
                <img class="item-image" src="@(Utils.GetLowResRumImagePath(item.Image))"/>
                <p class="item-title">@item.Name</p>
                <p class="item-subtitle">@item.Teaser</p>
            </div>
        }
    }
</div>

<a href="/rum" class="btn btn-dark" style="margin: 20px 0 0 0">Alle Rums</a>


@code {

    IEnumerable<Rum> mItems;

    protected override async Task OnInitializedAsync() {
        mItems = ( await Repository.GetAllAsync() ).TakeRandom(4);
    }

}